@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2qothb');
  src:  url('fonts/icomoon.eot?2qothb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2qothb') format('truetype'),
    url('fonts/icomoon.woff?2qothb') format('woff'),
    url('fonts/icomoon.svg?2qothb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart-clicked:before {
  content: "\e900";
}
.icon-heart:before {
  content: "\e901";
}

.blue-bg{background-color: #172D5B; }

.btn-custom-blue {
    color: #fff;
    background-color: #172D5B;
    border-color: #172D5B;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #172D5B;
    border-color: #172D5B;
}

.page-link{
  color:#172D5B;
}

.page-item :hover{
  color:#172D5B;
}

.dropdown-menu > a:hover {
  color: var(--success);
}

.nav-tabs .nav-link.active {
    color: #212529;
}

.nav-tabs .nav-link {
    color: #6c757d;
}

.card-deck {
        margin: 0 auto; /* Added */
}

.bottom-5px{
	bottom: 5px;
}

.like-btn{
  float:left;
  width: 20px;
}

#loading_window{
  opacity:    1; 
  background: #172D5B; 
  width:      100%;
  height:     100%; 
  z-index:    10;
  top:        0; 
  left:       0; 
  position:   fixed; 
  color:      #fff;
}

.loader {
  top:45%;
  position: absolute;
}

.visibility-hidden{
  visibility: hidden;
}

#feeds-body .clicked:before{
  content: "\e900";
  color: #dc3545!important;
}

ul {
  list-style-type: none;
}

.display-none{
  display: none;
}

.borderless td, .borderless th {
    border: none;
}

.borderless {
  border-collapse:separate; 
  border-spacing: 0 15px;
}

.borderless thead th {
    vertical-align: bottom;
    border: none;
    font-weight: 500;
}

.font-10{font-size: 10pt;}
.grey-color{color:#b2b4bb;}

.no-arrow::after {
    display:none;
}
